{% extends './base.html' %} 

{%block estilo %} 
  {% load static %} 
  <link rel="stylesheet" href="{% static "./publica/css/productos.css" %}?v=1.1"> 
{% endblock estilo %} 

{% block titulo %}Tienda online{% endblock titulo %}

{%block main %}

	<section class="contenedor">

		<!-- Contenedor de los productos-->
		<div class="contenedor-items">
			<div class="item">
				<span class="titulo-item">Planta 1</span>
				<img src= {% static './publica/img/planta8.jpg' %} alt="imagen del producto planta 8" class="img-item">
				<span class="precio-item">$3.500</span>
				<button class="boton-item">Agregar al carrito</button>
			</div>

			<div class="item">
				<span class="titulo-item">Planta 2</span>
				<img src={% static './publica/img/planta8.avif' %}  alt="imagen del producto planta 8" class="img-item">
				<span class="precio-item">$4.000</span>
				<button class="boton-item">Agregar al carrito</button>
			</div>


			<div class="item">
				<span class="titulo-item">Planta 3</span>
				<img src={% static './publica/img/plantafb.jpg' %}  alt="imagen del producto planta 8" class="img-item">
				<span class="precio-item">$2.000</span>
				<button class="boton-item">Agregar al carrito</button>
			</div>


			<div class="item">
				<span class="titulo-item">Planta 4</span>
				<img src={% static './publica/img/planta8.avif' %}  alt="imagen del producto planta 8" class="img-item">
				<span class="precio-item">$1.800</span>
				<button class="boton-item">Agregar al carrito</button>
			</div>


			
		</div>

		<!-- Carrito de compras -->
		<div class="carrito">
			<div class="header-carrito">
				<h2>Tu carrito</h2>
			</div>

			<div class="carrito-items">

				<!--
				<div class="carrito-item">
					<img src={% static './publica/img/planta8.avif' %}  alt="" width="80px">
					<div class="carrito-item-detalle">
						<span class="carrito-item-titulo">nombre de producto</span>
						<div class="selector-cantidad">
							<i class="fa-solid fa-minus restar-cantidad"></i>
							<input type="text" value="1" class="carrito-item-cantidad" disabled>
							<i class="fa-solid fa-plus sumar-cantidad"></i>
						</div>
						<span class="carrito-item-precio">$11.111</span>
					</div>
					<span class="btn-eliminar"><i class="fa-solid fa-trash"></i></span>
				</div>

				<div class="carrito-item">
					<img src={% static './publica/img/planta8.jpg' %}  alt="" width="80px">
					<div class="carrito-item-detalle">
						<span class="carrito-item-titulo">nombre de producto</span>
						<div class="selector-cantidad">
							<i class="fa-solid fa-minus restar-cantidad"></i>
							<input type="text" value="1" class="carrito-item-cantidad" disabled>
							<i class="fa-solid fa-plus sumar-cantidad"></i>
						</div>
						<span class="carrito-item-precio">$11.111</span>
					</div>
					<span class="btn-eliminar"><i class="fa-solid fa-trash"></i></span>
				</div>
				-->

			</div>

			<div class="carrito-total">
				<div class="fila">
					<strong>Tu total</strong>
					<span class="carrito-precio-total">$</span>
				</div>
				<button class="btn-pagar">Pagar<i class="fa-solid fa-bag-shopping"></i></button>
			</div>
		</div>
	</section>

{% endblock main %}

{% block jsScript %}
<script src="{% static './publica/js/producto.js' %}"></script>
{% endblock jsScript %}