.contenedor-contacto {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 20Px 100px;
}

.contenedor-contacto:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url("/static/publica/img/fondoContacto.jpg") no-repeat center;
	background-size: cover;
	z-index: -1;
	filter: blur(30px);
}

.contacto-caja {
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
	border-radius: 25px;
}

.contacto-caja .caja-izq{
	height: 100%;
	background: url("/static/publica/img/fondoContacto.jpg") no-repeat center;;
	background-size: cover;
	border-radius: 25px 0px 0px 25px;
}

.contacto-caja .caja-der{
	padding: 25px 40px;
}

.contacto-caja .caja-der h2{
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 10px;	
}

.contacto-caja .caja-der h2:after{
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	height: 4%;
	width: 50px;
	border-radius: 2px;
	background-color: #4e6355;
}

.contacto-campo{
	width: 90%;
	padding: 0.5rem 1rem;
	outline: none;
	border: 2px solid rgba(0,0,0,0);
	border-bottom:0.5px solid rgba(78, 99, 85, 0.3);
	background-color: rgba(255, 253, 253, 0.664);
	border-radius: 10px;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.contacto-campo:hover{
	background-color: rgba(0,0,0,0.1);
}

.contacto-campo:focus{
	background-color: #fff;
	border: 2px solid rgba(10, 145, 66, 0.47);
}

.contacto-area{
	min-height: 150px;
}

.contacto-enviar{
	width: 100%;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	background-color: #4e6355;
	cursor: pointer;
	outline: none;
	border-radius: 5px;
	border: none;
	transition: .3s;
	color: #fff;
}

.contacto-enviar:hover{
	background-color: #27ae60;
}

@media screen and (max-width:880px){
	
	.contenedor-contacto{
		padding: 10px;
	}
	
	.contacto-caja{
		grid-template-columns: 1fr;
	}

	.contacto-caja .caja-izq{
		height: 200px;
		border-radius: 25px 25px 0px 0px;
	}
}