
.portada{
    background-color: hsla(0, 1%, 21%, 0.726);
}

body {
    background: url("/static/publica/img/fondo2.jpg") no-repeat center top;
    background-size: cover;	
    overflow-x: hidden;
}

.ver_mas {
    border: 1px solid black; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #4e6355  ; /*color botón*/
    color:  #fff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    border-color: #27ae60;
    border-radius: 50px; /*bordes redondos*/    
}


.highlight2 {
	color:  #e5eee9;
    text-shadow: #333 3px 2px;
}

/* TEXTO PORTADA */
.regala_vida {
    font-size:600%;
    letter-spacing: 2px;
    color: rgb(46, 44, 44);
    font-family: 'Red Hat Display', sans-serif;
}

/* Sección Características de INICIO */

.features {
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    background-color: #f2f2f2;
}
  

.feature,
.feature-m {
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
}

.feature-m i{
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.feature i {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.feature-m h2 {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 20px;
}
  
.feature h2 {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 20px;
}

.feature-m p {
	font-size: 1.2rem;
	margin: 0;
}

.feature p {
	font-size: 1.2rem;
	margin: 0;
}

.feature-m{
    background-color: #4e6355;
    color: #fff;
    border-radius: 5px;
}

@media screen and (max-width:880px){
	.regala_vida {
        font-size:400%;             
    }
    
}