.contenedor {
	max-width: 1200px;
	padding: 10px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	contain: paint;
}

/* contenedor principal de los items (cards)*/
.contenedor .contenedor-items{
	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  	grid-gap: 30px 30px;
	width: 80%;
	transition: .3s;	
}

/*item*/
.contenedor-items .item{
	max-width: 220px;
	padding: 10px;
	margin: auto;
	border: 1px solid rgb(14, 15, 14);;
	border-radius: 10%;
	padding: 20px;
	transition: .3s;
}

.contenedor-items .item:hover{
	box-shadow: 0 0 10px rgb(14, 15, 14);
	scale: 1.05;
}

.contenedor-items .item .img-item{
	width: 100%;
	max-height: 220px;
	border-radius: 5%;
}

.contenedor-items .item .titulo-item{
	display: block;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.contenedor-items .item .precio-item{
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}

.contenedor-items .item .boton-item{
	display: block;
	margin: 10px auto;
	border: none;
	background: black;
	color: #fff;
	padding: 5px 15px;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
}

/* Carrito de compras */
.carrito2 {
	border: 1px solid black;
	width: 35%;
	margin-top: 30px;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: auto;
	position: sticky !important;
	top: 0;
	transition: .3s;
	
}


.carrito {
	border: 1px solid black;
	width: 35%;
	margin-top: 30px;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: auto;
	position: sticky !important;
	top: 0;
	transition: .3s;	
}

.carrito .header-carrito{
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 15px 0;
}

.carrito .carrito-item{
	display: flex;
	align-items: center;
	position: relative;
	border-bottom: 1px solid black;
	padding: 15px;
}

.carrito .carrito-item img {
	margin-right: 20px;	
}

.carrito .carrito-item .carrito-item-titulo {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.carrito .carrito-item .selector-cantidad{
	display: inline-block;
	margin-right: 25px;
}

.carrito .carrito-item .carrito-item-cantidad{
	border: none;
	font-size: 18px;
	background: transparent;
	display: inline-block;
	width: 30px;
	padding: 5px;
	text-align: center;
}

.carrito .carrito-item .selector-cantidad i{
	font-size: 18px;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid black;
	cursor: pointer;
}

.carrito .carrito-item .carrito-item-precio{
	font-weight: bold;
	display: inline-block;
	font-size: 18px;
	margin-bottom: 5px;
}

.carrito .carrito-item .btn-eliminar{
	position: absolute;
	right: 15px;
	top: 15px;
	color: black;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid black;
	cursor: pointer;
	display: block;
	background: transparent;
	z-index: 20;
}

.carrito .carrito-item .btn-eliminar i{
	pointer-events: none;
}

.carrito-total{
	background-color: rgb(225, 240, 227);
	padding: 10px 30px;
}

.carrito-total .fila{
	display: flex;
	justify-content: space-between;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.carrito-total .btn-pagar{
	display: block;
	width: 100%;
	border: none;
	background: black;
	color: #fff;
	border-radius: 5px;
	font-size: 18px;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	transition: .3s;
}

.carrito-total .btn-pagar:hover{
	scale: 1.05;	
}

/* Resposive */

@media screen and (max-width: 850px) {
	.contenedor{
		display: block;
	}
	
	.contenedor-items{
		width: 100% !important;
	}	

	.carrito {
		width: 100% !important;
	}

}