{% extends './baseLoginRegistro.html' %} 
{% block formLoginRegistro %}
{% load static %} 
<div class="login-box">
	<img class="avatar" src="{% static "./publica/img/logo.png"%}" alt="">
	<h1>Iniciar sesión</h1>
	
	<form method="post" action="">
		{% csrf_token %}
		<label for="id_username">Usuario</label>
		{{form.username}}

		<label for="id_password">Contraseña</label>
		{{form.password}}

		<input type="submit" value="INICIAR">

		<a href="">¿Has olvidado tu contraseña?</a><br>
		<a href={% url 'registro' %}>Crear una cuenta</a>
	</form>
</div>
{% endblock formLoginRegistro %}